/node_modules

/Notes_app/node_modules
Notes_app/
Notes_app/node_modules
Notes_app/.pnp
Notes_app/.pnp.js
Notes_app/
# Notes_app/# testing
Notes_app/coverage
Notes_app/
# Notes_app/# production
Notes_app//build
Notes_app/
# Notes_app/# misc
Notes_app/.DS_Store
Notes_app/.env.local
Notes_app/.env.development.local
Notes_app/.env.test.local
Notes_app/.env.production.local
Notes_app/
Notes_app/npm-debug.log*
Notes_app/yarn-debug.log*
Notes_app/yarn-error.log*